# --------------------------------
# CodeIgniter specific
# --------------------------------
writable/

# Prevent environment-specific config leak
.env
.env.*

# Composer vendor directory
vendor/

# System directory (if downloaded instead of composer managed)
system/

# --------------------------------
# IDE & Editor files
# --------------------------------
.idea/
.vscode/
*.iml

# --------------------------------
# OS-specific files
# --------------------------------
.DS_Store
Thumbs.db

#---------------------------------
#Storage files
#---------------------------------
storage/*

!storage/uploads/

storage/uploads/*

!storage/uploads/.gitkeep

backend/debug/

# --------------------------------
# Python
# --------------------------------
__pycache__/
*.pyc
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.coverage